body {
  color:rgba(52, 41, 110, 1.5);
  background-color: seashell;
}

.card {
  background-color: snow;
}


header {
  text-align: center;
  background-image: linear-gradient(to right, rgba(52, 41, 110, 1.5), rgb(52, 41, 110, .6));
  color: bisque;
}
p {
  padding-bottom: 0;
  margin-bottom: 0;
}
ul {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* AQI Classes */
 .low-risk {
    background-color: green;
    color: bisque;
  }
  .medium-risk {
    color: yellow;
  }
  .high-risk {
    color: orange;
  }
  .extreme-risk {
    color: red;
    color: whitesmoke;
  }

  /* Commute Classes */
  .short-commute{
    background-color: green;
    color: bisque;
  }
  .medium-commute {
    background-color: yellow;
  }
  .long-commute {
    background-color: orange;
  }
  .extreme-commute {
    background-color: red;
    color: whitesmoke;
  }

  /* to hide a div */
  .hidden {
    display: none;
  }

  /* SIDEBAR */
  .btn-container {

  }

  .form-btn {
    background-color: rgba(52, 41, 110, .8);
    color: bisque;
    margin: 6px;
    padding: 8px;
    width: 44%;
    border-radius: 4px;
  }

  .form-btn:hover {
    background-color: rgba(52, 41, 110, .6);
  }

  .form-btn:active, .form-btn:focus {
    background-color: rgba(52, 41, 110, .5);
  }

  .btn-search {
    background-color: rgba(52, 41, 110, .8);
    color: bisque;
    margin: 6px;
    padding: 8px;
    width: 100%;
    border-radius: 4px;
  }

  .btn-search:hover {
    background-color: rgba(52, 41, 110, .6);
  }

  .btn-search:active, .btn-search:focus {
    background-color: rgba(52, 41, 110, .5);
  }

  #zipcodeForm {
    margin-bottom: 24px;
  }

  #search-history {
    justify-content: center;
  }

  @media only screen and (max-width: 480px) {
    header h1 {
      font-size: 28px;
    }

    .form-btn {
      width: 100%;
    }
  }